$font-size-root: 14px;
$bg_color: #ECEFF1;
$primary_color: #03A9F4;
$secondary_color:#FB8C00;
$body-font-family	: 'Roboto', sans-serif;
$title-font-family : 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet');
