:root {
  --clr-primary: #5c95ff;
  --clr-accent: #c3cfd9;
}

body,
body[data-theme="light"] {
  --clr-text: #293845;
  --clr-element: #ffffff;
  --clr-background: #f0f4f7;
}

body[data-theme="dark"] {
  --clr-text: #ffffff;
  --clr-element: #2b3945;
  --clr-background: #202c37;
}
