.button {
  background-color: var(--clr-primary);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.1875rem;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: transparent;
      color: var(--clr-text);
      outline: 0.125rem solid var(--clr-primary);
    }
  }
}
