.dashboard {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 1rem 2.5rem;

  &__title {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.875rem;
    align-items: center;
    font-size: 1.5625rem;
  }

  &__missions {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
  }
}
