.button {
  background: none;
  outline: none;
  border: none;
  color: var(--black-color);
  font-size: 1.1rem;
  cursor: pointer;
}

.button:not(.button.icon) {
  border: 0.2rem solid var(--black-color);
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
}

.button:not(.button.icon):hover {
  background-color: var(--black-color);
  color: var(--white-color);
}
