.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.card {
  box-shadow: var(--card-shadow-03dp);
  border-radius: 0.5rem;
  flex-basis: 30%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.card:hover {
  box-shadow: var(--card-shadow-08dp);
}

.card-image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .card,
  .card.expanded {
    flex-basis: 80%;
  }
}

.card .close-card-button {
  align-self: flex-end;
  position: absolute;
}

.close-card-button * {
  color: var(--white-color);
}

.card-name {
  align-self: center;
  padding: 0.3rem;
}

.card-date {
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  align-self: flex-end;
  font-weight: var(--primary-font-weight);
}

.card-details {
  padding: 0.5rem;
  line-height: 1.3;
}

.card-link-button {
  min-width: 50%;
  align-self: center;
  outline: none;
  text-decoration: none;
  text-align: center;
  margin: 1rem 0;
}
