.search-form {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid var(--black-color);
  padding: 1rem;
}

.search-form-button {
  margin-top: 1rem;
}

.search-form-button:hover {
  background-color: var(--success-color) !important;
  border-color: var(--success-color) !important;
}

.search-form .button.icon {
  align-self: flex-end;
  position: absolute;
}

.search-form label {
  font-size: 1.2rem;
  padding-right: 5rem;
  padding-top: 1rem;
}

.search-latest-launches {
  background: none;
  outline: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  border-bottom: 0.1rem solid var(--success-color);
}
