.header {
  background-color: var(--clr-element);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
}
