.header {
  background-color: var(--clr-element);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  .container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .theme-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: var(--clr-text);
    border: none;
    padding: 0;
    cursor: pointer;
  }
}
