.card-mission {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-element);
  padding: 0.875rem 0.625rem;
  border: 0.125rem solid var(--clr-accent);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  @media (hover: hover) {
    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }

  &__title {
    font-size: 1.1875rem;
    margin-bottom: 0.5rem;
  }

  &__text {
    margin-bottom: 0.875rem;
  }

  &__date {
    margin-left: auto;
    font-style: italic;
  }
}
