.mission-container {
    padding-top: 0.5rem;
    height: 100% !important;
    width: 100% !important;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
      "img"
      "text";
}

.images-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: img;
}

.images-container .jumbotron {
    text-align: center;
}

.images-container .carousel img{
    width: auto;
    height: 440px;
}

.text-container {
    font: 1.6rem Oswald;
    border: solid 1px;
    border-radius: 0.8rem;
    background-color: #edf6f9;
    grid-area: text;
    margin: 1.5rem 0;
}

.text-container h2 {
    font-family: Teko;
    margin-top: 1.8rem;
    margin-bottom: 0.6rem;
}

.link-container {
    margin: 1.5rem 0;
    display: flex;
}

.link-container a {
    width: 8rem;
    height: 3rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.2rem;
    
}

.link-container a.video {
    background: #ef476f;
}

.link-container a.video:hover {
    background: #e72451;
    opacity: 0.7;  
}

.link-container a.article {
    background: #ffd166;
}

.link-container a.article:hover {
    background: #f8c03e;
    opacity: 0.7;    
}

.icons {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 90%;
}
