.mission-card {
  border: 1px solid #6272a4ff;
  border-radius: 4px;
  box-shadow: 3px 3px 8px #282a36ff;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 10px 15px;
  padding: 5px 3px;
  text-align: center;
  width: 300px;
}

p {
  font-size: 15px;
}

.card-link {
  color: #f8f8f2ff;
  text-decoration: none;
}