.mission-card {
  border: 1px solid #6272a4ff;
  border-radius: 4px;
  box-shadow: 3px 3px 8px #282a36ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 15px;
  text-align: center;
  width: 250px;
}

.mission-card img {
  contain: content;
  width: 250px;
}

.image-card {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 250px;
  overflow: hidden;
  width: 250px;
}

h4, h5 {
  margin: 5px 0;
  padding: 0;
}

p {
  font-size: 15px;
}

.card-link {
  color: #f8f8f2ff;
  text-decoration: none;
}