html,
body,
#app {
  height: 100%;
}

html,
body {
  overflow: hidden;
}

#app {
  overflow: auto;
  margin: 12px auto;
}

body {
  background-image: url(https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #ffffff;
}

p {
  margin: 5px 0;
}

img {
  margin-top: 15px;
}
