:root {
  font-size: 70%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  overflow: hidden;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-areas: 
    "head"
    "main";
}

.page-header {
  grid-area: head;
}

.content {
  grid-area: main;
}
